{# templates/web/baseWithGroupingClasses.html.twig #}
{% extends 'base.html.twig' %}

{% block general_body %}

<h1>{{ "debug.title"|trans }}</h1>

{% if content is defined %}
    {{ content|raw }}
{% endif %}

{% if dumpArray is defined %}
    {% for key, value in dumpArray %}
        <h2>{{ key }}</h2>
        {{ dump(value) }}
    {% endfor %}
{% endif %}

{% endblock %}