{# templates/web/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<details open>
    <summary>Vos pages</summary>
    <p>
        Accès à la partie élève : <a href="{{ path('student') }}">Page élève</a><br>
        Accès à la partie enseignant : <a href="{{ path('teacher') }}">Page enseignant</a>
    </p>
</details>
{% endblock %}