{# templates/web/student.html.twig #}
{% extends 'base.html.twig' %}
{% set title_page = 'Page élève' %}

{% block body %}
<details open>
    <summary>Vos classes</summary>
    {% if classes|length > 0 %}
    <table id="myClasses" class="wimstable" style="text-align:center">
        <caption>Mes classes</caption>
        <thead>
            <tr data-sort-method="thead">
                <th scope="col" role="columnheader">Nom</th>
                <th scope="col" role="columnheader">Matières</th>
                <th scope="col" role="columnheader">Enseignant</th>
                <th scope="col" role="columnheader">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr class="{% if loop.index is even %}even{% else %}odd{% endif %}">
                <td>
                    {{ class.name }}
                </td>
                <td>
                    {{ class.subjects }}
                </td>
                <td>
                    {{ class.teacher.lastName }}
                </td>
                <td>
                    <a href="{{ class|wims_url_class_for_student }}" class="wims_button" role="button">Entrer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <br>
    Vous n'êtes actuellement inscrit dans aucune classe wims, merci de voir avec votre enseignant.
    {% endif %}
</details>
{% endblock %}

{% block endjs %}
    <script src="/wims/scripts/js/tablesort.js"></script>
    <script src="/wims/scripts/js/tablesort.number.js"></script>

    <script>
    new Tablesort(document.getElementById("myClasses"));
    </script>
{% endblock %}