{# templates/web/student.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
user: {{ app.user }}<br>
Est un élève<br>
Voici ces classes pour l'établissement {{ groupingClasses }} :
{% if classes|length > 0 %}
<ul>
    {% for class in classes %}
        <li><a href="{{ class|wims_url_class_for_student }}">{{ class }}</a></li>
    {% endfor %}
</ul>
{% else %}
<br>
Vous n'êtes actuellement inscrit dans aucune classe wims, merci de voir avec votre enseignant.
{% endif %}
{% endblock %}